.contact-info-container {
    position: absolute;
    width: calc(100% - 80pt);
    height: 100%;
    left: 80pt;
    top: 0pt;
    background-color:#FFFFFF;
    z-index: 2;
}
.contact-info-data-container {
    width: 100%;
    height: calc(100% - 300pt);
    overflow-x: hidden;
    padding-top:40pt;
    padding-bottom:40pt;
    overflow-y: scroll;
    scrollbar-color: #000000 #FFFFFF;
    scrollbar-width: thin; 
}
.contact-info-data-container::-webkit-scrollbar {
    width: 10px;
}
.contact-info-data-container::-webkit-scrollbar-track {
    background: #EFEFEF; 
}
.contact-info-data-container::-webkit-scrollbar-thumb {
    background: #000000; 
}
.contact-info-nav-bar {
    width: 100%;
    height: 220pt;
    background-color: #000000;
}
.back-button-container {
    float: left;
    width: 80pt;
    height: 80pt;
    opacity: 1;
    display: grid;
    transition: all 400ms;
}
.back-button-container:hover {
    opacity: 0.4;
}
.back-button-container img {
    align-self: center;
    margin: 0 auto;
    width: 30pt;
}
.contact-foto-and-name-container {
    float: left;
    width: calc(100% - 240pt);
    height: 100%;
    display: grid;
}
.contact-info-foto-container {
    margin: 0 auto;
    margin-top: 15pt;
    height: 100pt;
    width: 100pt;
}
.contact-info-item-user-name {
    width: 100%;
    line-height: 0pt;
    font-size: 35pt;
    text-align: center;
    color: #FFFFFF;
}
.contact-info-item-user-name p:first-child {
    font-family: 'helvetica-neue-light';
}
.contact-info-item-user-name p {
    margin-top: 25pt;
    font-family: 'helvetica-neue-bold';
}
.contact-info-item-container {
    width: calc(100% - 80pt);
    margin-left: 40pt;
    margin-top: 10pt;
    opacity: 0;
}
.contact-info-item-title {
    float: left;
    width: calc(100% - 80pt);
    height: 50pt;
    font-family: 'helvetica-neue-regular';
    line-height: 50pt;
    font-size: 20pt;
    text-align: left;
    color: #555555;
}
.contact-info-item-value {
    float: right;
    width: 100%;
    height: 50pt;
    font-family: 'helvetica-neue-bold';
    line-height: 50pt;
    font-size: 20pt;
    text-align: right;
    color: #000000;
}
.contact-info-item-divider {
    float: left;
    width: 100%;
    height: 2pt;
    background-color: #0000001c;
}
.contact-info-secion-title {
    float: left;
    width: calc(100% - 80pt);
    margin-left: 40pt;
    margin-top: 10pt;
    height: 60pt;
    font-family: 'helvetica-neue-heavy';
    line-height: 40pt;
    font-size: 15pt;
    text-align: left;
    opacity: 0;
    color: #00000059;
}
.contact-info-item-value-address {
    float: right;
    width: 100%;
    height: 30pt;
    font-family: 'helvetica-neue-bold';
    line-height: 40pt;
    font-size: 20pt;
    text-align: right;
    color: #000000;
}
.contact-registration-date {
    float: left;
    width: calc(100% - 80pt);
    margin-left: 40pt;
    margin-top: 10pt;
    height: 80pt;
    font-family: 'helvetica-neue-regular';
    line-height: 80pt;
    font-size: 15pt;
    text-align: center;
    color: #00000059;
}
.contact-title-enter {
    animation-name: contact-title-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes contact-title-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.phone-number-enter {
    animation-name: phone-number-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes phone-number-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.email-number-enter {
    animation-name: email-number-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes email-number-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.personal-enter {
    animation-name: personal-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes personal-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.gender-enter {
    animation-name: gender-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes gender-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.age-enter {
    animation-name: age-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes age-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.dob-enter {
    animation-name: dob-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes dob-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.location-enter {
    animation-name: location-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes location-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.address-enter {
    animation-name: address-enter-animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes address-enter-animation {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.contact-info-animation-enter {
    transition: all 200ms;
    left: 220pt;
    opacity: 0;
}
.contact-info-animation-enter-active {
    transition: all 200ms;
    left: 80pt;
    opacity: 1;
}
.contact-info-animation-exit-active {
    transition: all 200ms;
    left: 220pt;
    opacity: 0;
}
.contact-info-bottom-gradient {
    position: fixed;
    bottom: 0pt;
    left: 80pt;
    width: calc(100% - 100pt);
    height: 70pt;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
    pointer-events: none;
    z-index: 2;
}
.contact-info-top-gradient {
    position: fixed;
    top: 220pt;
    left: 80pt;
    width: calc(100% - 100pt);
    height: 70pt;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%);
    pointer-events: none;
    z-index: 2;
}